﻿@using MoviesProject.Models

@model MoviesProject.Models.User

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1>Wussup booooi</h1>
    <p>Feel free to check out <a href="https://localhost:44388/Movies">movies</a> Ilyas and Bobek shared here.</p>
</div>
